/* GLOBAL =================== */
:root{
    /* Background colors */
    --bg: #f0f2f5;
    --bg-overlay-color: rgba(0,0,0,0.7);
    --bg-modal-color: #F0F2f5;
    --bg-table: #fff;
    --bg-card: #fff;

    /* Text colors */
    --text: #fff;
    --text-description: #363f5f;
    --text-h2:#363f5f;
    --text-header: #363f5f;
    --text-table: #363f5f;
    --text-footer: #363f5f;

    /* Blue Colors */
    --blue-dark-color: #363f5f;
    --blue-light-color: #969cb3;

    /* Green Colors */
    --green-light-color: #49AA26;
    --green-dark-color: #2D4A22;
    --green-color: #12a454;
    --green-hover-color: #3dd705;

    /* Alert Color */
    --red-color: #e92929;

}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* 15px */
}

html[data-theme='dark'] {
    /* Background colors */
    --bg: #18191a;
    --bg-modal-color: #2e2e2e;
    --bg-table: #3a3b3c;

    /* Text colors */
    --text: #fff;
    --text-description: #b0b3b8;
    --text-h2:#b0b3b8;
    --text-header: #3a3b3c;
    --text-table: #b0b3b8;
    --text-footer: #b0b3b8;

    /* Blue Colors */
    --blue-dark-color: #3a3b3c;
    --blue-light-color: #e4e6eb;

    /* Green Colors */
    --green-dark-color: #3a3b3c;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

body {
    background: var(--bg);
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width:0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* TITLES =================== */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--blue-dark-color);

    font-weight: normal;
}

/* LINKS & BUTTONS ========== */
a {
    color: var(--green-light-color);
    text-decoration: none;

}

a:hover {
    color: var(--green-hover-color);
}

button {
    width: 100%;
    height: 50px;

    border:none;
    color: var(--text);
    background: var(--green-light-color);

    padding: 0;

    border-radius: 0.25rem;
    cursor: pointer;

}

button:hover {
    background: var(--green-hover-color);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: var(--red-color);
    border: 2px var(--red-color) solid;
    border-radius: 0.25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

/* TOGGLE =================== */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: var(--blue-light-color);
	border-radius: 100px;
	position: absolute;
    top:2rem;
    right: 2rem;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--green-hover-color);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}


/* HEADER =================== */
header {
    background: var(--green-dark-color);
    padding: 2rem 0 10rem; 
    text-align: center;
}

#logo {
    color: var(--text);
    font-weight: 100;

}

/* BALANCE =================== */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: var(--text);
}

/* CARDS =================== */
.card {
    background: var(--bg-card);
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;

    color: var(--blue-dark-color);

}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display:flex;
    align-items: center;
    justify-content: space-between;

}

.card p {
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}

.card.total {
    background: var(--green-light-color);

    color: var(--text);
}

/* TABLE =================== */
#transaction {
    display:block;
    width: 100%;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--blue-light-color);
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: var(--bg-table);

    font-weight: normal;
    padding: 1rem 2rem;

    text-align: left;
    
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: var(--bg-table);

    padding: 1rem 2rem;
}

td.description {
    color: var(--text-description);
}

td.income {
    color: var(--green-color);
}

td.expense {
    color: var(--red-color);
}

/* MODAL =================== */
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: var(--bg-overlay-color);
    position: fixed;
    top:0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--bg-modal-color);
    padding: 2.4rem;
    border-radius: 0.25rem;

    position: relative;
    z-index: 1;

}

/* FORM =================== */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
    color: var(--text-h2);
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group .help {
    opacity: 0.4;
    color: var(--text-h2);
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

/* FOOTER =================== */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--text-footer);

    opacity:0.6;
}

/* RESPONSIVE =================== */

@media(min-width: 800px) {
    html {
        font-size: 87.5%; /* 14px */
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

